#app {
  text-align: start;
  font-weight: bolder;
  color: goldenrod;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#tag {
  text-align: center;
  font-weight: bolder;
  color: palevioletred;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
